.navbar-container {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
}

.navbar-logo {
  height: 2rem;
  padding-right: 1rem;
}

.navbar-text {
  color: #fff;
}

.navbar-title {
  display: flex;
  align-items: center;
}
