* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-card {
  background-color: #6a9bf6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 30rem;
}

.app-weather-icon {
  padding: 0 1rem 1rem 1rem;
}

.app-search {
  width: 15rem;
  height: 2rem;
  border: none;
}

h1 {
  padding: 1rem;
  font-size: 2rem;
}

h2 {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 800;
  color: #dbe8ff;
}

.navbar-container {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3rem;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.navbar-logo {
  height: 2rem;
  padding-right: 1rem;
}
